:root {
  --bg-bug: linear-gradient(-10deg, rgb(177, 230, 34) 7%, rgba(146, 188, 44, 1) 100%);
  --bg-dark: linear-gradient(-10deg, rgb(127, 121, 158) 7%, rgba(89, 87, 97, 1) 100%);
  --bg-dragon: linear-gradient(-10deg, rgb(38, 177, 236) 7%, rgba(12, 105, 200, 1) 100%);
  --bg-electric: linear-gradient(-10deg, rgb(255, 224, 44) 7%, rgb(253, 199, 59) 100%);
  --bg-fairy: linear-gradient(-10deg, rgb(239, 169, 255) 7%, rgb(227, 122, 219) 100%);
  --bg-fighting: linear-gradient(-10deg, rgb(255, 61, 129) 7%, rgba(211, 66, 95, 1) 100%);
  --bg-fire: linear-gradient(-10deg, rgb(255, 189, 65) 7%, rgb(255, 139, 34) 100%);
  --bg-flying: linear-gradient(-10deg, rgb(136, 212, 255) 7%, rgba(161, 187, 236, 1) 100%);
  --bg-ghost: linear-gradient(-10deg, rgb(97, 134, 255) 7%, rgba(95, 109, 188, 1) 100%);
  --bg-grass: linear-gradient(-10deg, rgb(123, 230, 86) 7%, rgba(95, 189, 88, 1) 100%);
  --bg-ground: linear-gradient(-10deg, rgb(255, 138, 108) 7%, rgba(218, 124, 77, 1) 100%);
  --bg-ice: linear-gradient(-10deg, rgb(107, 236, 225) 7%, rgba(117, 208, 193, 1) 100%);
  --bg-normal: linear-gradient(-10deg, rgba(201, 205, 199, 1) 7%, rgba(160, 162, 159, 1) 100%);
  --bg-poison: linear-gradient(-10deg, rgba(185, 80, 237, 1) 7%, rgba(183, 99, 207, 1) 100%);
  --bg-psychic: linear-gradient(-10deg, rgba(255, 130, 125, 1) 7%, rgb(243, 103, 101) 100%);
  --bg-rock: linear-gradient(-10deg, rgba(238, 202, 129, 1) 7%, rgba(201, 187, 138, 1) 100%);
  --bg-steel: linear-gradient(-10deg, rgba(79, 203, 208, 1) 7%, rgba(86, 149, 163, 1) 100%);
  --bg-water: linear-gradient(-10deg, rgb(51, 201, 255) 7%, rgba(83, 157, 223, 1) 100%);
  --bg-gradient-orange-r: linear-gradient(40deg, rgba(255, 39, 48, 1) 0%, rgb(255, 118, 33) 100%);
  --bg-gradient-orange-l: linear-gradient(340deg, rgba(255, 39, 48, 1) 0%, rgba(255, 95, 32, 1) 100%);
}

::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  margin: 12px 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 16px;
  border: 5px solid #333;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.panel-6::-webkit-scrollbar-thumb, .panel-7::-webkit-scrollbar-thumb {
    border: 5px solid rgb(67, 67, 67);
}


* {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: #333;
  overflow-x: hidden;
}

#root {
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding: 20px;
  min-height: 100vh;
}

input {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 4rem;
  margin-bottom: 3rem;
  text-align: center;
  line-height: 1;
  color: #fff;
}

h2 {
  font-size: 3.5rem;
  margin: 0;
  line-height: 1;
  color: #fff;
  font-weight: bold;
}

.loading-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.loading-screen>span {
  font-size: 1.5rem;
  color: rgb(136, 136, 136);
}

.top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
}

/* Main Page */

.searchform {
  width: 100%;
  max-width: 800px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  background-color: rgb(67, 67, 67);
  padding: 0 30px;
}

.searchform > i {
  color: rgb(182, 182, 182);
  font-size: 1.1rem;
  transition: .2s;
}


.searchbar {
  background-color: transparent;
  font-size: 18px;
  width: 100%;
  font-weight: 400;
  color: white;
  height: 70px;
  padding-right: 10px;
  transition: .2s;
}

.searchbar::placeholder {
  color: rgb(182, 182, 182);
}

.no-access {
  pointer-events: none;
  opacity: .4;
}

.grid {
  width: 100%;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, 200px);
  justify-content: center;
  max-width: 1300px;
  margin-top: 50px;
}

.grid-item {
  position: relative;
  height: 200px;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  align-items: center;
  justify-content: space-between;
  transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.grid-item:hover {
  scale: 1.025;
}

.item-img {
  height: 130px;
}

.item-id {
  color: #a9a9a9;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
}

.item-name {
  color: #212121;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  padding: 0 1rem;
}



/* Detail Page */

#detail>h2 {
  text-align: center;
  padding: 0 1rem;
}

.navbar,
.prev-pokemon,
.next-pokemon {
  display: flex;
  align-items: center;
}

.navbar {
  width: 100%;
  max-width: 800px;
  height: 70px;
  border-radius: 50px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

.prev-pokemon,
.next-pokemon {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: .2s;
  background-color: rgb(67, 67, 67);
}

.prev-pokemon>i,
.next-pokemon>i {
  color: #bababa;
  transform: scale(2);
}

.prev-pokemon>* {
  margin-left: 1.2rem;
}

.next-pokemon {
  justify-content: flex-end;
}

.next-pokemon>* {
  margin-right: 1.2rem;
}

.navbar-prev-id,
.navbar-next-id {
  font-size: 1.3rem;
  font-weight: 600;
  color: white;
}

.navbar-prev-name,
.navbar-next-name {
  color: #a9a9a9;
  font-weight: 600;
  font-size: 1.3rem;
  transition: .2s;
}

.next-pokemon:hover,
.prev-pokemon:hover {
  background-color: #2cd0e8;
  cursor: pointer;
}

.next-pokemon:hover>i,
.prev-pokemon:hover>i {
  color: #ffffff;
  cursor: pointer;
}

.next-pokemon:hover>.navbar-next-name,
.prev-pokemon:hover>.navbar-prev-name {
  color: #333333;
}

#navbar-back-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 .5rem;
  white-space: nowrap;
  font-weight: 600;
  font-size: 1.1rem;
  cursor: pointer;
  background-color: rgb(67, 67, 67);
  height: 100%;
  border-radius: 5px;
  transition: background-color .2s linear;
  min-width: 70px;
}

#navbar-back-btn > i {
  scale: 1.3;
  transition: .2s;
  color: #bababa;
}

#navbar-back-btn:hover {
  background-color: #616161;
}

#navbar-back-btn:hover>i {
  color: #fff;
}















.grid-details-one {
  margin-top: 3rem;
  margin-bottom: 8rem;
  position: relative;
  width: 90%;
  max-width: 70rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.3rem;
}

.details-panel {
  width: 100%;
  padding: 2rem;
  border-radius: 10px;
  background-color: #909090;
}

.panel-1 {
  grid-row: 1/3;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-gradient-orange-r);
  padding: .5rem;
  position: relative;
  overflow: hidden;
}

.details-img-box {
  height: 23rem;
  max-height: 23rem;
  position: relative;
  z-index: 2;
  max-width: 90%;
}

.details-img-box>img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.circle-bg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 1;
  clip-path: polygon(0 45%, 100% 20%, 100% 60%, 82% 100%, 0 100%);
}

.panel-2 {
  height: 13.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.panel-2>div>span {
  font-size: 2rem;
  font-weight: 600;
  color: #616161;
  line-height: 1;
  margin-bottom: .5rem;
}

.details-flavor-text {
  color: white;
}

.panel-3 {
  background-color: rgb(67, 67, 67);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.panel-3>div {
  display: flex;
}

.details-props {
  width: 100%;
  justify-content: space-around;
  margin-top: 2rem;
}

.details-prop-name {
  font-weight: 600;
}

.detail-type {
  padding: .7rem;
  border-radius: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7.5rem;
  line-height: 1.1;
  margin-right: .6rem;
  font-weight: 600;
  background-color: black;
}

.detail-type-img {
  height: 1.2rem;
  margin-right: .4rem;
}

.detail-type-img>img {
  height: 100%;
  object-fit: contain;
}

.bg-bug {
  background: var(--bg-bug);
}

.bg-dark {
  background: var(--bg-dark);
}

.bg-dragon {
  background: var(--bg-dragon);
}

.bg-electric {
  background: var(--bg-electric);
}

.bg-fairy {
  background: var(--bg-fairy);
}

.bg-fighting {
  background: var(--bg-fighting);
}

.bg-fire {
  background: var(--bg-fire);
}

.bg-flying {
  background: var(--bg-flying);
}

.bg-ghost {
  background: var(--bg-ghost);
}

.bg-grass {
  background: var(--bg-grass);
}

.bg-ground {
  background: var(--bg-ground);
}

.bg-ice {
  background: var(--bg-ice);
}

.bg-normal {
  background: var(--bg-normal);
}

.bg-poison {
  background: var(--bg-poison);
}

.bg-psychic {
  background: var(--bg-psychic);
}

.bg-rock {
  background: var(--bg-rock);
}

.bg-steel {
  background: var(--bg-steel);
}

.bg-water {
  background: var(--bg-water);
}


.panel-4 {
  grid-row: 2/4;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: grid;
  color: #333333;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.stats-grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.animation-box {
  position: relative;
  width: 6rem;
  height: 6rem;
}

.stats-bg-circle {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #d3d3d3;
  border-radius: 50%;
}

.stat-value {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: visible;
  font-size: 1.3rem;
  color: #878787;
  font-weight: 400;
}

.stat-name {
  margin-top: .5rem;
  font-weight: 600;
  font-size: 1.1rem;
}

.stats-loaded-circle {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: visible;
  rotate: -90deg;
}

circle {
  fill: none;
  width: 100%;
  stroke-dasharray: 301;
  height: 100%;
  stroke: #2cd0e8;
  stroke-width: 5;
  stroke-linecap: round;
}

.grid-details-two,
.grid-details-three {
  margin-top: 2rem;
  margin-bottom: 8rem;
  position: relative;
  width: 90%;
  max-width: 70rem;
  display: grid;
  grid-gap: 1.3rem;
  overflow: hidden;
}

.panel-5 {
  background-color: #fff;
  color: #333333;
  position: relative;
  overflow: hidden;
}

.abilities-content {
  width: 70%;
}

.panel-5>div>div>span {
  font-weight: 700;
}

.abilities-break {
  width: 100%;
  height: 2px;
  background-color: #dedede;
  margin: 2rem 0;
}

.panel-5>img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 1;
}

.abilities-content {
  position: relative;
  z-index: 3;
}

.bg-shape-abilities {
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  height: 100%;
  background: var(--bg-gradient-orange-r);
  clip-path: polygon(4rem 0, 100% 0, 100% 100%, 0 100%);
  z-index: 3;
}

.panel-6,
.panel-7 {
  background-color: rgb(67, 67, 67);
  display: flex;
  overflow: auto;
}

.panel-6::before,
.panel-6::after,
.panel-7::before,
.panel-7::after {
  content: "";
  margin: auto;
}

.panel-6>span,
.panel-7>span {
  font-size: 1.1rem;
  color: #959595;
}

.evolution-item {
  min-width: 200px;
  width: 200px;
  margin: .7rem;
}

.evolution-btn-box {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 2rem;
}

.evolution-btn-box>.arrow-btn:hover {
  background-color: #545454;
  cursor: auto;
}

.evo-arrow {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: rgb(88, 88, 88);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #adadad;
}

.form-item {
  margin-right: .7rem;
  min-width: 200px;
}

.form-item:hover {
  scale: 1;
  cursor: auto;
}

.form-item:last-of-type {
  margin-right: 0;
}

.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  color: white;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(0px);
}

.popup-content {
  background-color: #272727;
  padding: 40px;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  max-width: 90vw;
}

.popup-content > p {
  margin: 25px 0;
  max-width: 450px;
}

.popup-content > p > div {
  margin-top: 20px;
}

.popup-link {
  color: rgb(255, 71, 39);
  text-decoration: underline;
}

.popup-close {
  background: var(--bg-gradient-orange-l);
  padding: 20px 25px;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.preload-panel {
  height: 200px;
  background-color: rgb(67, 67, 67);
  border-radius: 10px;
}




.loading-alert{
  position: fixed;
  background-color: #ffffff;
  padding: 1rem;
  display: flex;
  line-height: 1;
  bottom: 2rem;
  left: 2rem;
  z-index: 10;
  border-radius: .5rem;
  z-index: 11;
}

.ri-refresh-line {
  width: 1rem;
  height: 1rem;
  animation: rotate;
  animation-duration: 1.5s;
  transform-origin: center;
  animation-iteration-count: infinite;
  margin-left: .5rem;
}

@keyframes rotate {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}




@media (max-width: 1000px) {
  .grid-details-one {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .details-prop-name {text-align: center}

  .panel-2 > div {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .details-flavor-text {
      margin-top: 3rem;
      text-align: center;
      padding: 0 1rem;
  }

  .panel-1 {
      order: 2;
  }

  .panel-2 {
      order: 1;
      height: auto;
  }
  .panel-3 {
      order: 3;
  }

  .panel-4 {
      order: 4;
      grid-row-gap: 2rem;
  }

  #overlay-box {
      padding-top: 5rem;
  }

  .overlay-back-btn {
      top: 1.5rem;
      right: 1.5rem
  }
}

@media (max-width: 700px) {
  .settings-prev-name, .settings-next-name {
      display: none;
  }
}

@media (max-width: 640px) {
  .navbar-next-name,
  .navbar-prev-name {
    display: none;
  }
}


@media (max-width: 500px) {

  h2 {
      font-size: 13vw;
  }

  .panel-4 {
      grid-template-columns: 1fr 1fr;
  }

  #grid-box {
      width: 100%;
      display: grid;
      margin-top: 3rem;
      grid-gap: 1.3rem;
      grid-template-columns: 45% 45%;
      justify-content: center;
      max-width: 100rem;
      padding: 0 1rem 6rem;
  }

  .img-box {
      padding: 0.5rem;
  }

  .details-img-box {
      height: auto;
  }

  .grid-item {
      position: relative;
      height:auto;
  }

}